{% extends 'index.html' %}
{% load static %}

{% block title %}
    Quartos
{% endblock %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            {% for item in dados_quarto %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="{{item.foto_quarto.url}}" class="card-img-top" alt="quarto">
                    <div class="card-body">
                        <h5 class="card-title">{{item.tipo}}</h5>
                        <p class="card-text">Valor: {{item.valor}}</p>
                        <p class="card-text">Disponibilidade: {{item.disponibilidade}}</p>
                        <p class="card-text">{{item.descricao}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transform: translateY(-3px);
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }
    </style>
{% endblock %}
